---
layout: layouts/base.njk
title: About
permalink: "/about.html"
---
<div class="page_left">
  {{ cms.pages.about.leftHtml | safe }}
</div>
<div class="page_right">
  {{ cms.pages.about.bodyHtml | safe }}
</div>
<div class="cf"></div>
