---
layout: layouts/base.njk
title: Home
body_class: page-home
---
<div class="single_column">
  <div class="text">
    <p>This is a temporary demo site for testing the CMS.</p>
    <p>
      <a href="/press.html">Press</a><br>
      <a href="/contact.html">Contact</a>
    </p>
  </div>
  <div class="cf"></div>
</div>
