---
layout: layouts/base.njk
title: Press
permalink: "/press.html"
---
{{ cms.pages.press.heroHtml | safe }}
<div class="single_column">
  <div class="text">
    {{ cms.pages.press.bodyHtml | safe }}
  </div>
  <div class="cf"></div>
</div>
